@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TETEX.Models.Course;

<h1> Edit Course</h1>
@if (Model is null )
{
    <h2> No Course found with this ID </h2>
}
@if(Model is not null){
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" / readonly>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirments" class="control-label"></label>
                <input asp-for="Requirments" class="form-control" />
                <span asp-validation-for="Requirments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryCourseld" class="control-label"></label>
                <input asp-for="CategoryCourseld" class="form-control" />
                <span asp-validation-for="CategoryCourseld" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input asp-controller="Course" asp-action="Edit" type="submit" value="Edit" class="btn btn-primary" />
            </div>
                <div class="form-group">
                    <input asp-controller="Course" asp-action="Delete" type="submit" value="Delete" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>
}

